html {
    background-image: url('./trexbackground.jpg');
    /* background-repeat: none; */
    background-size: 100%;
}

.so_lonely {
    margin-top: 10px;
}

button {
    border: 1px solid white;
    background-color: #2bffae;
    border-radius: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 40px;
    letter-spacing: 1px;
    /* position: absolute; */
}

button:active {
    transform: scale(0.80);
    background-color: aqua;
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.whateverSquare {
    background: #000;
    width: 45rem;
    height: 45rem;
    border-radius: 10%;
    border: 2px solid white;
    margin: 20px 20px 20px 20px;
    /* padding-top: 20px; */
    /* position: absolute; */
}

.whateverSquare h1 {
    color: white;
}

#someNiceIdName {
    height: 100%; 
    width: 80%; 
    object-fit: contain;
    border: 1px solid white;
}

#anotherOneOfThese {
    /* border: 1px solid white; */
    height: 170px;
    border-radius: 20%;
}